.env*
.env

#Kendi notlarımı açık olarak paylaşmamak için yalnızca işletim sistemleri dersine ait bir pdf örnek olarak ekledim

algoritma_analizi
mikroişlemciler
sayisal_analiz
işletim_sistemleri

venv/
.venv


data_images

chroma_db/