.env*
.env

#Kendi notlarımı açık olarak paylaşmamak için yalnızca işletim sistemleri dersine ait bir pdf örnek olarak ekledim



venv/
.venv


chroma_db/


data_images

data_runtime/


data_images


